@font-face {
    src: url('/fonts/Roboto-Regular.ttf');
    font-family: 'roboto-regular';
}

@font-face {
    src: url('/fonts/YesevaOne-Regular_v2.otf');
    font-family: 'yesevaone-regular';
}

/* ==================================  global  =========================================== */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'roboto-regular', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    background-color: #000000;
    position: relative;
}

/* ============================================= */
:root {
    --base-scale: calc(100vw / 75);
    --h1-font-size: max(2em, min(4em, calc(var(--base-scale) * 4)));
    --lightBrown: #A07B50;
    --linkColorHover: deepskyblue;
}

/* ============================================= */
h1 {
    font-size: var(--h1-font-size);
    font-weight: 200;
}

h1,
h4 {
    font-family: 'yesevaone-regular';
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: var(--linkColorHover);
}

/* =======================================  header  ========================================== */
.header {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
}

.dropmenu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 2rem;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #000000;
    padding-bottom: 2rem;
}

.dropbtn {
    position: absolute;
    cursor: pointer;
}

.show {
    display: block;
}

.about {
    flex-basis: 70%;
}

.about h4,
.contact h4 {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.phone {
    display: inline-flex;
    margin-bottom: 0.5rem;
}

.phone i {
    margin-right: 0.6rem;
}

.social i {
    margin-right: 0.5rem;
}

/* ======================================  index page  ===================================== */
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.content {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    align-self: center;
}

.content p {
    color: var(--lightBrown);
}

.content p:first-child {
    margin-bottom: 1rem;
}

.content p:nth-child(3) {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

.content a {
    padding: 1rem 2rem;
    border: 1px solid #ffffff;
}

.content a:hover {
    border-color: var(--linkColorHover);
}

/* ===========================================  galery  ======================================== */
.galery {
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.galery_header {
    text-align: center;
    margin-bottom: 2rem;
}

.galery_header p {
    margin-bottom: 1rem;
}

.galery_main {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.thumb img {
    filter: grayscale(0);
}

.thumb img:hover {
    filter: grayscale(100%);
    border: 2px solid #ffffff;
}

#scrollToTopBtn {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

#scrollToTopBtn:hover {
    border-color: var(--linkColorHover);
}

/* =========================================  footer  ======================================== */
.footer {
    position: absolute;
    left: 2rem;
    bottom: 2%;
}

/* ===========================================  @media  ========================================= */
@media (max-width: 541px) {
    .galery_main {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    .header {
        margin-bottom: 1rem;
    }

    .about {
        flex-basis: 100%;
    }

    .content {
        text-align: center;
        padding-left: 0;
    }
}