.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border: 1.5px solid #ffffff;
}

.thumb {
    padding: 5px;
}

.gallary {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.back {
    background: none;
    border: none;
    margin-top: 1rem;
}

.back a {
    color: #fff;
    padding: 0.4rem 1rem;
}

.back a:hover {
    text-decoration: none;
    outline: 0.8px solid #ffffff;
}

#scrollToTopBtn {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}